* {
    box-sizing: border-box;
}
  
body {
    background-color:black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.maindiv{
    background-color: white;
    color: black;
    width: 450px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
}

footer{
    margin: 10px auto;
    text-align: center;
}

mark {
    font-size: 1.2em;
}

input[type=number], input[type=range]{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  input[type=range]{
    width: 70%;  
  }
  
  label, select {
    display: inline-block;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 16px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 16px;
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  